<form class="uk-form uk-form-horizontal" {{action 'submit' on='submit'}}>
    <div class="uk-form-row">
        <label class="uk-form-label" for="form-h-s">지역</label>
        <div class="uk-form-controls">
              {{view Ember.Select
                id="state"
                class="form-control"
                content=selectOptions
                optionValuePath="content.value"
                optionLabelPath="content.name"
                value=participant.state
                prompt="도시를 선택해 주세요"
              }}
        </div>
    </div>
    <div class="uk-form-row">
        <label class="uk-form-label" for="name">이름</label>
        <div class="uk-form-controls">
            {{input type="text" id="name" placeholder="Name" value=participant.name}}
        </div>
    </div>
    <div class="uk-form-row">
        <label class="uk-form-label" for="email">이메일</label>
        <div class="uk-form-controls">
            {{input type="text" id="email" placeholder="Email" value=participant.email}}
        </div>
    </div>
    <div class="uk-form-row">
        <label class="uk-form-label" for="phone">연락처</label>
        <div class="uk-form-controls">
            {{input type="text" id="phone" placeholder="Phone" value=participant.phone}}
        </div>
    </div>
    <div class="uk-form-row uk-float-right">
            <button type="submit" class="uk-button">{{saveText}}</button>
            <button type="button" class="uk-button" {{action 'cancel'}}>{{cancelText}}</button>
    </div>
</form>
