
{{ ptype }}

<h3>Ember Query Params: search</h3>

<form {{action "search" on="submit"}}>
  {{input value=searchField}}
  {{input value=searchValue}}
  <input type="submit" value="Search"/>
</form>

<ul>
{{#each post in controller}}
    <li>
        <a href="#">
        {{#link-to 'posts.show' post }}
            <div class="description">
                <p class="title">{{post.id}}</p>
                <p class="title">{{post.title}}</p>
                <p class="name">{{post.name}}</p>
            </div>
        {{/link-to}}
    </li>
{{/each}}
</ul>

{{#link-to 'posts.new' ptype }} 글쓰기 {{/link-to}}

{{pagination-pager count=15 current=2 itmCtr='pagination' postType=ptype}}
