<h3>Post Show ...</h3>

<article class="uk-article">
    <h1 class="uk-article-title">{{ model.title }}</h1>
    <p class="uk-article-meta"> {{ model.email }} - {{ model.name }}</p>
    <!-- <p class="uk-article-lead">...</p> -->
    {{ model.content }}
    <p>
      {{ model.tag_list }}
    </p>
    <hr class="uk-article-divider">
    <div class="uk-clearfix">
        <div class="uk-float-right">
            {{#link-to 'posts.new' ptype class="uk-button"}} 글쓰기 {{/link-to}}
            {{#link-to 'posts.index' ptype class="uk-button"}} 목록 {{/link-to}}
            {{#link-to 'posts.edit' model class="uk-button"}} 수정 {{/link-to}}
        </div>
    </div>
</article>
